<h3><i class="fas fa-user-tie"></i></i> Odd Job Board</h3>
<div class="section">
  <p class="lead">Please log in to use our services</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Log In With Google
  </a>
</div>