html {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?cs=srgb&dl=pexels-lumn-316466.jpg&fm=jpg")
      no-repeat center center / cover;
  background-attachment: fixed;
}

span.deep-orange-text {
  white-space: nowrap;
}

p {
  margin: 10px 0 !important;
}

.login-container {
  max-width: 90%;
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

#user-link {
  margin: 0 auto;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

span.yellow-text {
  display: inline-block;
  line-height: 1;
  padding: 5px 10px;
  border-radius: 10px;
}

#role {
  display: inline-block;
  width: 65%;
  margin-right: 10px;
}

.access-form {
  display: inline-block;
}

.btn.cyan {
  margin-bottom: 5px;
}

.card.job p {
  font-size: 20px;
}

footer {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

@media (min-height: 1024px) {
  html {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("https://images.pexels.com/photos/3205479/pexels-photo-3205479.jpeg?cs=srgb&dl=pexels-cottonbro-3205479.jpg&fm=jpg")
        no-repeat center center / cover;
    background-attachment: fixed;
  }
}

@media (max-width: 576px) {
  html {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("https://images.pexels.com/photos/3205479/pexels-photo-3205479.jpeg?cs=srgb&dl=pexels-cottonbro-3205479.jpg&fm=jpg")
        no-repeat center center / cover;
    background-attachment: fixed;
  }

  a.brand-logo {
    font-size: 1.7rem;
  }

  h2.center-align,
  #modal1 h3 {
    font-size: 2.5rem;
  }

  #user-table th:nth-of-type(4),
  #mod-table th:nth-of-type(5),
  #ad-table-1 th:nth-of-type(5) {
    padding-top: 20px;
  }

  #ad-table-1 th:nth-of-type(6) {
    padding-top: 30px;
  }

  #ad-table-2 th:nth-of-type(4) {
    padding-top: 25px;
  }

  .col.s12.m8 h3 {
    font-size: 2.8rem;
  }
}
